{% extends 'home/base.html' %}
{% load static %}
{% block head %}
<link rel='stylesheet' href="{% static 'home/css/style_list.css' %}">
<title>カテゴリ一覧 - WaNTo(ワント)</title>
<meta name="description" content="アイテムのレビューや評価サイトだけを表示したいというお悩みはありませんか？本サイトでは、アイテムのレビューや評価サイトサイトだけを一覧表示！あなたに最適なアイテムを見つけてください。">
{% endblock %}
{% block content %}
<main>
    {% if categories %}
    {% for category in categories %}
    <div class="item_title">
        <div class="title_card"><a href="{{ category.url }}" target="_blank">{{ category.name }}</a></div>
    </div>
    {% endfor %}
    {% endif %}
</main>
{% endblock %}