{% extends 'ca_lens/base.html' %}
{% load static %}
{% block head %}
<link rel='stylesheet' href="{% static 'ca_lens/css/style_list.css' %}">
<title>{{ maker.name }} みんなのレビュー・評価を一覧表示 - WaNTo(ワント)</title>
{% autoescape off %}
{{ maker.meta_des }}
{% endautoescape %}
{% endblock %}
{% block content %}
<main>
    {% if items %}
    <div class="item_title">
        <div class="title_card"><a href="{% url 'ca_lens:maker_detail' maker.slug %}">{{ maker.name }}</a></div>
        <div class="item_card">
            {% for item in items %}
            <div class="item"><a href="{% url 'ca_lens:detail' item.slug %}">{{ item.item_name }}</a></div>
            {% endfor %}
        </div>
    </div>
    {% else %}
    <div class="item_title">
        <div class="title_card"><a href="{% url 'ca_lens:maker_detail' maker.slug %}">{{ maker.name }}</a></div>
        <h3>準備中</h3>
    {% endif %}
</main>
{% endblock %}