{% extends 'ca_lens/base.html' %}
{% load static %}
{% block head %}
<link rel='stylesheet' href="{% static 'ca_lens/css/style_other.css' %}">
{% endblock %}
{% block content %}
<main>
    <h3>更新</h3>
    <form action="{% url 'ca_lens:reload' %}" method="POST"　class="new_item">
        {% for item in items %}
        <p><input type="checkbox" name="reload" value="{{ item.pk }}"> {{ item.item_name }} </p>
        {% endfor %}
        {% csrf_token %}
        <button type="submit">更新</button>
    </form>
</main>
{% endblock %}