{% extends 'ca_camera/base.html' %}
{% load static %}
{% block head %}
<link rel='stylesheet' href="{% static 'ca_camera/css/style_list.css' %}">
<title>カメラ メーカー一覧 - WaNTo(ワント)</title>
<meta name="description" content="カメラのレビューや評価サイトだけを表示したいというお悩みはありませんか？本サイトでは、カメラのレビューや評価サイトサイトだけを一覧表示！あなたに最適なアイテムを見つけてください。">
{% endblock %}
{% block content %}
<main>
    {% for maker in maker_list %}
    <div class="item_title">
        <div class="title_card"><a href="{% url 'ca_camera:maker_detail' maker.slug %}">{{ maker.name }}</a></div>
    </div>
    {% endfor %}
</main>
{% endblock %}