{% load static %}
<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel='stylesheet' href="{% static 'ca_camera/css/style_base.css' %}">
    <link rel='stylesheet' href="{% static 'ca_camera/css/style_index.css' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'ca_camera/icon/favicon_package/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'ca_camera/icon/favicon_package/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'ca_camera/icon/favicon_package/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'ca_camera/icon/favicon_package/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'ca_camera/icon/favicon_package/safari-pinned-tab.svg' %}" color="#aeaeae">
    <meta name="msapplication-TileColor" content="#b8b8b8">
    <meta name="theme-color" content="#ffffff">
    <!-- <link rel="icon" href="{% static 'ca_camera/icon/favicon.ico' %}"> -->
    <script src="https://kit.fontawesome.com/81e08fdf06.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">
    <title>WaNTo</title>
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="logo_header"><a href="{% url 'ca_camera:index' %}">WaNTo</a></div>
            <div class="maker_header"><a href="{% url 'ca_camera:maker_index' %}">メーカー</a></div>
            <form class="form_header" action="{% url 'ca_camera:index' %}" method="GET">
                    <input name="query" value="{{ request.GET.query }}" type="text" id="sbox" placeholder="検索"/>
                    <button type="submit" id="sbtn"><i class="fas fa-search"></i></button>
            </form>

        </div>
    </header>
    <main>
        <div class="item_title">
            <div class="title_card">メーカー1</div>
            <div class="item_card">
                <div class="item"><a>アイテム1アイテム1アイテム1アイテム1アイテム1</a></div>
                <div class="item">アイテム2</div>
                <div class="item">アイテム3</div>
                <div class="item">アイテム4</div>
            </div>
        </div>
        <div class="item_title">
            <div class="title_card">メーカー2</div>
            <div class="item_card">
                <div class="item">アイテム5</div>
                <div class="item">アイテム6</div>
                <div class="item">アイテム7</div>
                <div class="item">アイテム8</div>
                <div class="item">アイテム9</div>
            </div>
        </div>
    </main>
    <footer>
        <div class="container">
            <a class="contact">お問い合わせ</a>    
            <a class="question">FAQ</a>
        </div>
    </footer>
</body>

</html>