{% extends 'ca_camera/base.html' %}
{% load static %}
{% block head %}
    <link rel='stylesheet' href="{% static 'ca_camera/css/style_detail.css' %}">
{% endblock %}
{% block content %}
<main>
    <div class="item_title">
        <div class="title_card">メーカー</div>
        <div class="title_card">アイテム</div>
        <div class="item_article_card">
            <a>
                <div>タイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトルタイトル</div>
                <img src="https://pc.watch.impress.co.jp/img/pcw/list/1290/745/H00.jpg">
            </a>
            <a>
                <div>URL2</div>
                <img src="https://pc.watch.impress.co.jp/img/pcw/list/1290/745/H00.jpg">
            </a>
            <a>
                <div>URL3</div>
                <img src="https://pc.watch.impress.co.jp/img/pcw/list/1290/745/H00.jpg">
            </a>

            <!-- <div>URL4</div> --> -->
        </div>
    </div>
    <!-- <div class="item_title">
        <div class="title_card">メーカー</div>
        <div class="title_card">アイテム</div>
        <div class="item_article_card">
            <div><img src="https://pc.watch.impress.co.jp/img/pcw/list/1290/745/H00.jpg">URL1</div>
            <div>URL2</div>
            <div>URL3</div>
            <div>URL4</div>
        </div>
    </div> -->
</main>
{% endblock %}